<section class="hero container">
  <div class="hero-icon">
    <img src="/assets/AppIcon.png" alt="{{ t.hero.logoAlt }}">
  </div>
  <h1>{{ t.hero.title }}</h1>
  <p>{{ t.hero.description }}</p>

  <div class="hero-shot">
    <img src="https://lh3.googleusercontent.com/aida-public/AB6AXuBvcgW2tFAxk4o2sVZDJgmBLi-83rAbqVGlV6tBq_zLEEow2uUmC93AThQZBgPUmaUY_aRbhipeAOhsEzuHmuyi7iBvZNywbWjBp_hHCJiuO1e6TOmz5hTNMUEUSWc6kIMNNGqm-epc_Uztz5vsIEnECwRrJSZfRulR_J8tyQB7WU5Xa4IRzKChL6RLuFlN3iJMtyq4ZucUwubeKvsWKluiJpQhk5YzomFM4HAdLlC01Y5VeIw4z8t1-MGg0libEJ4WOWtrltaz2Q" alt="{{ t.hero.previewAlt }}">
  </div>
</section>
